header > h1 {
    width: 100px;
    font-size: 19px;
    margin: 2rem;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.cloudy {
    background-image: url("../assets/cloudy.jpg");
}

.snowy {
    background-image: url("../assets/snowy.jpg");
}

.black {
    color: #000;
}

.background {
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 60%;
    height: 100%;
    filter: contrast(150%) sepia(60%);
}

#weather {
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 80px;
    left: 80px;
    max-width: 490px;

    div {
        display: flex;
        flex-wrap: wrap;
        h2 {
            font-size: 50px;
            width: 100%;

            span {
                font-size: 70px;
            }
        }

        p {
            margin-left: 20px;
        }
    }
}

.weatherInfo {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.164);
    width: 40%;
    height: 100%;
    box-shadow: -1px 0px 10px 0px black;
    color: rgb(255, 255, 255);

    .background-info {
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        filter: brightness(30%) contrast(150%) sepia(60%);
    }

    #search {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        input {
            padding: 10px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #fff;
            width: 300px;
            margin: 0 auto;
            color: #fff;
        }

        button {
            width: 90px;
            height: 86px;
            border: none;
            cursor: pointer;
            background-color: rgba(247, 169, 0, 0.705);
            color: #fff;

            i {
                font-size: 26px;
            }
        }
    }

    #locations {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 390px;
        margin: 60px auto;

        ul > li {
            margin-bottom: 20px;
            font-size: 15px;

            &:nth-last-child(1) {
                margin-bottom: 0px;
            }
        }
    }

    #details {
        max-width: 390px;
        margin: 0 auto;

        p {
            font-size: 17px;
            font-weight: 500;
            margin: 40px;
        }

        ul {
            li {
                display: flex;
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 15px;
                justify-content: space-between;
                span {
                    display: flex;
                }
            }
        }

        hr {
            border-color: #fff;
            max-width: 100%;
        }
    }
}

// ============= Responsividade =================

@media (max-height: 594px) {
    .weatherInfo {
        #locations {
            display: none;
            color: #483948;
        }

        #details {
            hr:nth-child(1) {
                display: none;
            }
        }
    }
}

@media (max-width: 1015px) {
    #details {
        ul > li {
            margin-left: 20px;

            span {
                margin-right: 15px;
            }
        }
    }
}

@media (max-width: 820px) {
    #weather {
        left: 20px;
    }
}

@media (max-width: 742px) {
    #weather {
        font-size: 12px;
        left: 20px;

        div {
            h2 {
                font-size: 40px;
                span {
                    font-size: 50px;
                }
            }
        }
    }
}

@media (max-width: 593px) {
    .weatherInfo {
        #search {
            input {
                width: 100px;
            }
            button {
                width: 70px;
                height: 50px;

                i {
                    font-size: 20px;
                }
            }
        }

        #details {
            p {
                font-size: 14px;
            }
            ul > li {
                flex-direction: column;
                font-size: 13px;
            }
        }
    }

    #weather {
        font-size: 11px;
        left: 20px;

        div {
            flex-direction: column;
            h2 {
                font-size: 20px;
                span {
                    font-size: 25px;
                }
            }
        }
    }
}

@media (max-width: 350px) {
    #weather {
        top: 100px;
        div > h2 {
            font-size: 20px;
            span {
                font-size: 30px;
            }
        }
    }

    .background {
        width: 100%;
    }

    .weatherInfo {
        top: 300px;
        width: 100%;
        right: 0px;
        left: 0;
    }
}
